# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados / distribuciones
build/
dist/
*.egg-info/
.eggs/

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Configuración de PyCharm
.idea/

# Archivos de prueba/cobertura
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/